/* ==== Indian Terrain style slick dots ==== */
.slick-dots {
  bottom: 30px !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
  /* MERGE: Chose the wider gap (10px) */
  gap: 10px;
  position: relative;
  z-index: 10;
}

.slick-dots li {
  width: 24px;
  height: 3px !important;
  background: #ffffff;
  margin: 0;
  padding: 0;
}

/* remove default dot */
.slick-dots li button:before {
  content: none !important;
}

/* active state */
.slick-dots li.slick-active button {
  background-color: #000;
  width: 24px;
  height: 3px !important;
  margin: 0;
  padding: 0;
}


/* Shop details Part Start  */

.slick-dots.custom-thumb {
  display: flex !important;
  flex-direction: column;
  position: absolute;
  /* MERGE: Chose the more negative 'left' value (-320px) */
  left:-320px;
  /* MERGE: Chose the more negative 'top' value (-70px) */
  top: -70px;
  /* New value from the merged branch */
  gap: 80px;
  z-index: 999 !important;
}

.slick-dots.custom-thumb li {
  /* MERGE: Chose the smaller size (80px) */
  width: 80px;
  height: 80px;
  margin: 20px;
}

.slick-dots.custom-thumb li img {
  opacity: calc(30%);
  cursor: pointer;
}

.slick-dots.custom-thumb li.slick-active img {
  opacity: calc(100%);
}